[Unit]
Description=Gawati API server

[Service]
User=${RUNAS_USER}
WorkingDirectory=${SERVER_HOME}
ExecStart=/usr/bin/node ./cron.js >>${SERVER_HOME}/cron.log 2>&1

[Install]
WantedBy=multi-user.target

