[Unit]
Description=Gawati API server

[Service]
User=${RUNAS_USER}
WorkingDirectory=${SERVER_HOME}
ExecStart=/usr/bin/node ./cron.js

[Install]
WantedBy=multi-user.target

