[Unit]
Description=Gawati User Profile Server

[Service]
User=${RUNAS_USER}
WorkingDirectory=${SERVER_HOME}
Environment=HOST=127.0.0.1
Environment=PORT=${SERVER_PORT}
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=multi-user.target

