[Unit]
Description=Gawati API server

[Service]
User=${RUNAS_USER}
WorkingDirectory=${SERVER_HOME}
Environment=HOST=127.0.0.1
Environment=PORT=${SERVER_PORT}
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target

